#container.clearfix
  #new_register_container
    %ul.nav.nav-tabs
      %li#outgoes_tab.active
        %a{ :'data-url' => new_outgo_url } Gastos
      %li#incomes_tab
        %a{ :'data-url' => new_income_url } Ganhos
    .content-container
      Trazer formulário em /outgoes/_new por Ajax para cá.

  #summary_container
    %ul.nav.nav-tabs
      %li.active
        %a Recente
      %li
        %a no Mês
      %li
        %a no Ano
      %li
        %a Personalizado 

    .content-container
      #filter_container
        %form.form-inline
          %label.radio Mostrar:
          %input{ name: 'show', type: 'radio', value: 'option1' } Gastos
          %input{ name: 'show', type: 'radio', value: 'option2' } Ganhos
          %input{ name: 'show', type: 'radio', value: 'option2' } Ambos

      %h4 Movimentações Recentes

      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Data
            %th Valor
            %th Categoria
            %th Tags
            %th Descrição
            %th
        %tbody
          - 10.times do
            %tr
              - 5.times do
                %td asd
              %td
                .btn-group
                  %button.btn.btn-mini.btn-success
                    %i.icon-pencil
                  %button.btn.btn-mini.btn-danger
                    %i.icon-remove