%form
  .value.clearfix
    %label{ for: 'value' } Quanto
    .input-prepend.entry
      %span.add-on R$
      %input{ type: 'text', placeholder: 'Ex.: 10,00', name: 'value' }

  .date.clearfix
    %label{ for: 'date' } Quando
    .input-append.entry
      %input{ type: 'text', placeholder: 'Ex.: 12/10/2012', name: 'date' }
      %button.btn{ type: 'button' }
        %i.icon-calendar

  .category.clearfix
    %label{ for: 'category' } Categoria
    .entry
      %select{ name: 'category' }
        - 5.times do
          %option Opção

  .tags-container.clearfix
    %label{ for: 'tag' } Tags
    .input-append.add-tag
      %input{ name: 'tag', type: 'text', placeholder: 'Ex.: almoço'  }
      %button.btn{ type: 'button' }
        %i.icon-plus
    .tags-box
      %span.label.label-info.tag
        %i.icon-tag
        Almoço
        %a.delete                
          %i.icon-remove
      %span.label.label-info.tag
        %i.icon-tag
        Subway
        %a.delete
          %i.icon-remove

  %label{ for: 'description' } Descrição
  %textarea{ name: 'description', rows: '2', placeholder: 'Ex.: Sanduíche muito louco' }

  .form-actions
    %input.btn.btn-primary{ type: 'submit', value: 'Save' }
    %input.btn{ type: 'reset', value: 'Clean' }