.filter_container
  %form.form-inline
    %label.radio Mostrar:
    %label.radio{ :for => 'show_option-outgoes', :'data-filter' => 'outgo' }
      = radio_button_tag :show, :'option-outgoes'
      Gastos
    %label.radio{ :for => 'show_option-incomes', :'data-filter' => 'income'  }
      = radio_button_tag :show, :'option-incomes'
      Ganhos
    %label.radio{ :for => 'show_option-both', :'data-filter' => 'transaction' }
      = radio_button_tag :show, :'option-both', true
      Ambos