#header.navbar.navbar-inverse.clearfix
  .navbar-inner
    .content.clearfix
      %a.brand{ href: '/' }
        %h1 Wherezmamoney?!
      %ul#navgation_menu.nav
        %li
          %a Home
        %li.active
          %a{ href: '/transactions' } Extratos
        %li
          %a Gráficos
      %ul.nav.pull-right
        %li.dropdown
          %a.dropdown-toggle{ :href => '#', :'data-toggle' => 'dropdown' }
            %i.icon-user
            = @user.name
            %b.caret
          %ul.dropdown-menu
            %li
              %a{ href: '#' }
                %i.icon-cog
                Configurações
            %li.divider
            %li
              %a{ href: '#' } Sair