#summary_container  
  %ul.nav.nav-tabs
    %li.active
      %a{ href: 'recent' } Recente
    %li
      %a{ href: 'by-month' } no Mês
    %li
      %a{ href: 'by-year' } no Ano
    %li
      %a{ href: 'custom' } Personalizado 

  .content-container
    #filter_container
      %form.form-inline{ :'data-url' => transactions_path }
        %label.radio Mostrar:
        %label.radio{ for: 'show_option-outgoes' }
          = radio_button_tag :show, :'option-outgoes'
          Gastos
        %label.radio{ for: 'show_option-incomes' }
          = radio_button_tag :show, :'option-incomes'
          Ganhos
        %label.radio{ for: 'show_option-both' }
          = radio_button_tag :show, :'option-both', checked: 'checked'
          Ambos

    #summary_content