.recent
  .extracts-header
    %h2
      %span.transaction Movimentações
      %span.outgo Gastos
      %span.income Ganhos
      %span recentes
    = render "includes/filter_by_type_radio"

  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.column-date Data
        %th.column-value Valor
        %th.column-category
          %span.income Fonte
          %span.outgo Categoria
          %span.transaction Categoria/Fonte
        %th.column-tags
          %span.outgo.transaction Tags
        %th.column-description Descrição
        %th.column-options
    %tbody
      = render :partial => 'extracts/recent/transactions', :locals => { :transactions => @transactions, :type => 'transaction'}
      = render :partial => 'extracts/recent/transactions', :locals => { :transactions => @incomes, :type => 'income' }
      = render :partial => 'extracts/recent/transactions', :locals => { :transactions => @outgoes, :type => 'outgo' }

  .alert.no-transaction-to-show
    %button.close{ :type => "button", :'data-dismiss' => "alert" } ×
    %strong Ops! 
    Você ainda não tem nenhuma movimentação cadastrada!