- total_value = 0
- transactions.each do |t|
  = t.last[3]
-#
  - if t.type == "Income"
    - total_value += t.value
  - else
    - total_value -= t.value
- if total_value <= 0
  %i.icon-arrow-down.icon-red
- else
  %i.icon-arrow-up.icon-green
= number_to_currency total_value.abs
