#extracts_container
  %ul.nav.nav-tabs
    %li.recent-tab.active
      %a{ href: 'recent' } Recente
    %li.by-month-tab
      %a{ href: 'by-month' } no Mês
    %li.by-year-tab
      %a{ href: 'by-year' } no Ano
    %li.custom-tab
      %a{ href: 'custom' } Personalizado 

  .content-container
    #extracts_content
      -# Conteúdo carregado de /transactions/_index.html.haml por /transactions/index.js.erb, o qual é chamado por header.js.coffee