#extracts_container
  %ul.nav.nav-tabs
    %li.recent-tab.active
      %a{ href: 'recent' } Recente
    %li.by-month-tab
      %a{ href: 'by-month' } no Mês
    %li.by-year-tab
      %a{ href: 'by-year' } no Ano
    %li.custom-tab
      %a{ href: 'custom' } Personalizado 

  .content-container
    #extracts_content
      -# conteudo carregado por extracts.js.coffee de acordo com a aba ativa