#welcome_container.clearfix
  %h1 Wherezmamoney?!

  .beautiful-box
    %p.alert.alert-error Cansado(a) de, no final do mês, ter certeza que deveria ter mais dinheiro na carteira, ou no banco, e não fazer a menor ideia de onde ele foi parar? 
    %p.alert.alert-success 
      %strong Seus problemas se acabaram!
    .alert.alert-info
      %p 
        Controle suas finanças de forma simples, rápida e prática com 
        %strong Wherezmamoney! 
      %p Crie sua conta e comece a usar agora mesmo. É rápido, totalmente de grátis e sem custos!
      %p Somos totalmente excelentes!

  #login_singnup_container
    %ul.nav.nav-tabs
      %li#outgoes_tab.active
        %a{ :'data-url' => login_path } Login
      %li#incomes_tab
        %a{ :'data-url' => new_user_path } Novo no site?
    .content-container 
      = render 'login_form'
      = render 'signup_form'