#welcome_container.clearfix
  %h1 Wherezmamoney?!

  .beautiful-box espaço reservado para o bla bla bla de apresentação breve do site e imagenzinhas, frufrus, etc. e tal

  #login_singnup_container
    %ul.nav.nav-tabs
      %li#outgoes_tab.active
        %a{ :'data-url' => login_path } Login
      %li#incomes_tab
        %a{ :'data-url' => new_user_path } Novo no site?
    .content-container 
      = render 'login_form'
      = render 'signup_form'