%h2.by-year.invisible
  %span.transaction Movimentações
  %span.outgo Gastos
  %span.income Ganhos
  %span= title

%table.by-year.invisible{ :width => '100%' }
  %tr
    %td
      .alert
        %i.icon-warning-sign
        = " Em construção."