%h2.custom.invisible
  %span.recent-transaction Movimentações
  %span.recent-outgo Gastos
  %span.recent-income Ganhos
  %span= title

%table.custom.invisible{ :width => '100%' }
  %tr
    %td
      .alert
        %i.icon-warning-sign
        = " Em construção."