.custom.invisible
  .summary-header.clearfix
    %h2{ style: "margin: 0;" }= title

  %table.by-year.invisible{ :width => '100%' }
    %tr
      %td

  .alert.no-transaction-to-show
    %i.icon-warning-sign{ style: "margin-right: 5px;" }
    Página em construção