%h2.custom.invisible
  %span.transaction Movimentações
  %span.outgo Gastos
  %span.income Ganhos
  %span= title

%table.custom.invisible{ :width => '100%' }
  %tr
    %td
      .alert
        %i.icon-warning-sign
        = " Em construção."