#container {
	margin: 0 auto;
	width: 940px;
}

.content-container {
	padding: 10px;
}

.nav.nav-tabs {
	margin-bottom: 0;

	li {
		cursor: pointer;
	}
}

/* Summary */

#summary_container {
	float: left;
	margin-left: 30px;
	width: 660px;

	.btn-group {
		float: right;
	}
}

#filter_container {
	float: right;
}