/* Generic Classes */

.beautiful-box {
	background-color: white;
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.invisible {
	display: none;
}

.separator {
	color: #ddd;
	font-weight: normal;
}

/* Content related classes and id's */

body{
	padding: 0;
}

h2, h3 {
	font-size: 18px;
	line-height: 100%;
	margin: 5px 15px 15px 5px;

	a {
		font-weight: normal;
		cursor: pointer;
	}
}

.container {
	margin: 0 auto;
	width: 940px;
}

.content-container {
	padding: 10px;
}

.nav.nav-tabs {
	margin-bottom: 0;

	li {
		cursor: pointer;
	}
}

/* Summary */

#summary_container {
	float: left;
	margin-left: 30px;
	width: 660px;

	h2 {
		float: left;
	}

	ul {
		clear: both;
	}

	.btn-group {
		float: right;
	}

	.tag {
		padding-right: 5px;
	}
}

#filter_container {
	float: right;
}

.column-date, .column-category, .column-value {
	width: 90px;
}

.column-tags, .column-description {
	width: 160px;
}

.income-row {
	background-color: #f4fff4;
}

.outgo-row {
	background-color: #fff8f8;
}