#header {
	margin-bottom: 10px;

	a.dropdown-toggle {
		padding-bottom: 9px;
		padding-top: 9px;
	}
	h1 {
		float: left;
		font-size: 22px;
		line-height: 100%;
		margin: 9px 0;
	}

	.brand {
		margin: 0;
		padding: 0;
	}
	.user-menu {
		float: right;
	}
}

.navbar {
	li a {
		cursor: pointer;
	}
	ul.nav {
		float: left;
		margin-left: 100px;
	}

	.content {
		margin: 0 auto;
		width: 940px;
	}

	.navbar-inner {
		border: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

/* Fix para o bug do glass-icon em background no dropdown menu */
.icon-white, .nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}