#header {
	margin-bottom: 10px;

	h1 {
		float: left;
		font-size: 22px;
		line-height: 100%;
		margin: 9px 0;
	}

	.brand {
		margin: 0;
		padding: 0;
	}

	.user-menu {
		float: right;
	}
}

.navbar {
	.content {
		margin: 0 auto;
		width: 940px;

		ul {
			float: right;
		}
	}

	.navbar-inner {
		border: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}

/* Fix para o bug do glass-icon em background no dropdown menu */
.icon-white, .nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}