#new_transaction_container {
	float: left;
	width: 250px;

	input {
		width: 124px;
	}

	label {
		clear: both;
		float: left;
		line-height: 30px;
		margin-right: 15px;
		text-align: right;
		width: 50px;
	}

	select {
		width: 100%;
	}

	textarea {
		margin-bottom: 9px;
		max-width: 150px;
		min-width: 150px;
		min-height: 20px;
		width: 150px;
	}

	.entry {
		float: left;
		width: 165px;
	}

	.form-actions {
		clear: both;

		.btn {
			width: 93px;
		}
	}

	.input-append {
		button {
			padding: 4px 8px;
		}
	}

	.input-prepend {
		.add-on {
			padding: 4px 6px;
		}
	}

	.tag {
		display: inline-block;
		margin-bottom: 3px;

		a.delete {
			color: white;
		}
	}
}

.select2-container {
	margin-bottom: 9px;
	width: 165px;
}