@import 'mixins/text-overflow';

button.destroy-transaction, 
button.expand-day-transactions, 
button.minimize-day-transactions {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

button.destroy-transaction:hover, 
button.expand-day-transactions:hover, 
button.expand-day-transactions.hover, 
button.minimize-day-transactions:hover, 
button.minimize-day-transactions.hover {
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
}

button.destroy-transaction {
	color: #ddd;
}

button.destroy-transaction:hover {
	margin-top: -1px;
}

button.expand-day-transactions {
	margin-top: -2px;
}

button.expand-day-transactions:hover, 
button.expand-day-transactions.hover {
	margin-top: -4px;
}

button.minimize-day-transactions {
	margin-bottom: -3px;
	margin-top: 3px;
}

button.minimize-day-transactions:hover, 
button.minimize-day-transactions.hover {
	margin-bottom: -4px;
	margin-top: 4px;
}

table p {
	margin-bottom: 0;
}

td.column-options, th.column-options {
	padding: 4px 0;
}

tr.expanded p, tr.minimized p {
	cursor: pointer;
}

tr.expanded-day, tr.minimized-day {
	cursor: pointer;
}

tr.minimized p {
	@include text-overflow;	
	overflow: hidden;
	white-space: nowrap;
	width: 150px;
}

tr.minimized td.category-source-cell p {
	width: 90px;
}

#filter_container {
	float: right;
}

#summary_container {
	form {
		margin-bottom: 0;
	}
	ul {
		clear: both;
	}
}

#summary_content {
	table, .alert {
		clear: both;
		margin-bottom: 0;
	}
}

.column-date {
	width: 70px;
}

.column-value {
	width: 95px;
}

.column-category{
	width: 105px;
}

.column-tags, .column-description {
	width: 150px;
}

.column-options {
	text-align: center;
	width: 20px;
}

.income-row {
	background-color: #f4fff4;
}

.outgo-row {
	background-color: #fff8f8;
}

.period-selector {
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 28px;
	width: 210px;

	button.btn {
		font-family: arial;
		font-size: 20px;
		font-weight: bold;
		line-height: 1;
		padding: 2px 7px 4px;
		width: 30px;
	}

	.btn-group {
		margin-right: 10px;
	}
}

.table tr.grouped-by-day-row td {
	border-top-style: dotted;
}

.tag-cell {
	.tag {
		padding-right: 5px;
	}
}

.total-display {
	float: left;
	margin: 5px 0 12px 55px;
	/* margin: 20px 0 10px; */

	span.label {
		font-size: 16px;
	}
}

.transactions-counter-cell {
	color: #bbb;
}