#welcome_container {
	margin: 0 auto;
	width: 600px;

	h1 {
		margin-bottom: 30px;
	}
	h2{
		margin-left: 0;
	}

	p {
		font-size: 16px;
		line-height: 1.1em;
		margin-bottom: 5px;
		margin-top: 15px;
		text-align: justify;
		text-indent: 10px;
	}

	p:first-child {
		margin-top: 0;
	}

	.alert {
		margin-top: 5px;
		padding: 10px;
	}
	.alert:first-child {
		margin-top: 0;
	}
	.alert.alert-info {
		color: #447;
		margin-bottom: 0;

		strong {
			color: #226;
		}
	}
	.beautiful-box {
		float: left;
		padding: 5px;
		width: 290px;
	}

	.confirmation {
		display: none;
	}
}

#login_singnup_container {
	float: right;
	position: relative;
	width: 250px;
}

#signup_form {
	display: none;
}

@media screen and (min-height: 500px) {
	#welcome_container {
		margin: -200px 0 0 -300px;
		left: 50%;
		position: absolute;
		top: 40%;
	}
}

@media screen and (max-width: 620px) {
	#welcome_container {
		margin-left: 10px;
		left: 0;
	}
}