= render :partial =>  'summary/recent', :locals => { :title => ' Recentes' }
= render :partial =>  'summary/by_month', :locals => { :title => ' mes' }
= render :partial =>  'summary/by_year', :locals => { :title => ' ano' }
= render :partial =>  'summary/custom', :locals => { :title => ' custom' }